.listing-container {
    display: grid;
    grid-template: auto / repeat(1, 1fr);
    width: 90%;
    margin: 50px auto;
    grid-gap: 50px;
}

@media (min-width: 640px) {
    .listing-container {
        grid-template: auto / repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .listing-container {
        grid-template: auto / repeat(3, 1fr);
    }
}