.covid19-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #9c0606;
    padding: 15px;
    font-size: .5rem;
    align-items: center;
}

.covid19-text,
.covid19-link {
    color: #fff;
    margin: 0;
}

.covid19-close-btn {
    font-weight: bold;
    position: absolute;
    right: 15px;
    cursor: pointer;
    opacity: .8;
    padding: 3px 5px;
}

.covid19-close-btn:hover {
    opacity: 1;
    transition: opacity .5s;
}

.hide {
    display: none;
}

@media (min-width: 640px) {
    .covid19-container {
        font-size: .7rem;
    }
}

@media (min-width: 1024px) {
    .covid19-container {
        font-size: 1rem;
    }
}