.covid19-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #9c0606;
    padding: 15px;
}

.covid19-text,
.covid19-link {
    color: #fff;
    margin: 0;
}

.covid19-close-btn {
    font-weight: bold;
    position: absolute;
    right: 15px;
    cursor: pointer;
    opacity: .8;
    padding: 3px 5px;
}

.covid19-close-btn:hover {
    opacity: 1;
    transition: opacity .5s;
}

.hide {
    display: none;
}