.listing-info-container {
    width: 90%;
    margin: auto;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    

.slide-gallery {
    width: 50%; 
    overflow: hidden; 
    height: 400px;
}

.slider {
    position: relative; 
    width: 500%;
    font-size: 0; 
    animation: 10s slidy infinite; 
}

.listing-info-img {
    width: 30%; 
    height: auto;
    display: inline-block;  
    position: inherit;
}

